.bg-img1 {
    height: 80vh;
    background-color: #000;
    background-size: cover;
    background-image: url(img/img1.jpg);
    object-fit: cover;
}

.bg-img2 {
    height: 80vh;
    background-color: #000;
    background-size: cover;
    background-image: url(img/img2.jpg);
    object-fit: cover;
}

.bg-img3 {
    height: 80vh;
    background-color: #000;
    background-size: cover;
    background-image: url(img/img3.jpg);
    object-fit: cover;
}

footer {
    padding: 130px 0 0 0;
}